.card{
    width: 250px;
    font-size: 13px;
}

.katie{
    height: 250px;
    border-radius: 10px;
}

.card_stats{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.card_star{
    height: 15px;
}

.gray{
    color: #918E9B;
}

.bold{
    font-weight: bold;
}